/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../../assets/material.woff2) format('woff2'),
    url(../../assets/material.woff) format('woff'),
    url(../../assets/material.ttf) format('ttf');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*----------------------
  b a c k g r o u n d
------------------------*/
/** mode 1 (full screen, stretch) **/
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
/** mode 2 (full screen) **/
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
/** mode 3 (back for a div) **/
.background {
    background: url(../img/bg/shopping_light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*----------------------
  v-center
------------------------*/
.vcenter{
    width: 95%;
    max-width: 800px;
    position: relative;
    margin-top: 300px;
    top: 50%;
    left: 50%;
    transform: translateX( -50% );
}
@media screen and (max-height: 1024px) {
    .vcenter {
        margin-top: 250px;
    }
}
@media screen and (max-height: 800px) {
    .vcenter {
        margin-top: 200px;
    }
}
@media screen and (max-height: 750px) {
    .vcenter {
        margin-top: 180px;
    }
}
@media screen and (max-height: 700px) {
    .vcenter {
        margin-top: 150px;
    }
}
@media screen and (max-height: 650px) {
    .vcenter {
        margin-top: 100px;
    }
}
@media screen and (max-height: 600px) {
    .vcenter {
        margin-top: 50px;
    }
}
@media screen and (max-height: 550px) {
    .vcenter {
        margin-top: 20px;
    }
}

/*----------------------
 loader
------------------------*/

#loader {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(173, 65, 151);
}
#loader .spinn{

    width: 150px;
    height: 100px;
    background-color: #ffffff;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

